@{
    ViewData["Title"] = "Nuestros cursos";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="/css/cursos.css">

<div class="catalogo">  
    <div class="producto">
        <img src="~/img/patada.jpeg" alt="Producto 1" width="20%">
        <h3>Técnica de golpeo y patadas</h3>
        <p class="precio">$200.000</p>
        <p class="descuento">5% OFF</p>
        <button class="btn-agregar">Agregar</button>
    </div>
    <div class="producto">
        <img src="~/img/bloqueo.jpg" alt="Producto 2" width="20%">
        <h3>Técnica de bloqueo y esquivas</h3>
        <p class="precio">$200.000</p>
        <p class="descuento">5% OFF</p>
        <button class="btn-agregar">Agregar</button>
    </div>
    <div class="producto">
        <img src="~/img/ataquecuchillo.jpg" alt="Producto 3" width="20%">
        <h3>Técnica de defensa contra ataques con cuchillo o arma de fuego</h3>
        <p class="precio">$500.000</p>
        <p class="descuento">10% OFF</p>
        <button class="btn-agregar">Agregar</button>
    </div>
    <div class="producto">
        <img src="~/img/multiples.jpg" alt="Producto 4" width="20%">
        <h3>Técnica de defensa contra múltiples agresores</h3>
        <p class="precio">$300.000</p>
        <p class="descuento">10% OFF</p>
        <button class="btn-agregar">Agregar</button>
    </div>
</div>
