@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/index.css">

<div class="vid">
    <video autoplay muted loop src="~/vid/video.mp4"></video>
</div>

<div class="contenedor1">
    <div>
        <h3 class="display-4">¡Empodérate con la autodefensa!</h3>
        <p>Bienvenido a Kwan Academy, donde ofrecemos cursos virtuales y presenciales que le dotan de las habilidades
            para protegerse. Nuestras técnicas de defensa personal están diseñadas para brindarle la confianza y el
            conocimiento para manejar cualquier situación. Nuestros cursos virtuales le permiten aprender a su propio
            ritmo, lo que le facilita tomar el control de su seguridad.</p>
    </div>
    <div>
        <img src="img/imagen1.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="contenedor1">
    <div>
        <h3 class="display-4">¡Empodérate con la autodefensa!</h3>
        <p>Bienvenido a Kwan Academy, donde ofrecemos cursos virtuales y presenciales que le dotan de las habilidades
            para protegerse. Nuestras técnicas de defensa personal están diseñadas para brindarle la confianza y el
            conocimiento para manejar cualquier situación. Nuestros cursos virtuales le permiten aprender a su propio
            ritmo, lo que le facilita tomar el control de su seguridad.</p>
    </div>
    <div>
        <img src="img/imagen1.jpg" alt="" class="img-fluid">
    </div>
</div>