@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Kwan Academy es un proyecto dedicado a enseñar a la comunidad 
técnicas de defensa personal, autoprotección y seguridad personal para enfrentar 
situaciones de riesgo e inseguridad.<br> 
• Aumentamos la Autoconfianza de las personas.<br> 
• Promovemos la seguridad individual y comunitaria.<br> 
• Fomentar la educación preventiva.
</p>

<h3>Misión</h3>
<p>Ofrecer educación accesible en defensa personal para mejorar la seguridad y confianza de 
personas de todas las edades.</p><br>

<h3>Visión</h3>
<p>Ser la academia líder en defensa personal en América Latina, destacando en enseñanza, 
innovación y seguridad.</p>
